<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https//www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments::page_head('Error- Shopme Admin', 'none')"
</head>
<body>
 <script type="text/javascript" th:src="@{/js/commom.js}" > </script>
	<div class="container-fluid">
     <div th:replace= "navigation:: menu"></div >
	
	
		<div class="m-3">
			<h2>Sorry, the server has encountereed an error while processing your request.(500)</h2>
			
		</div >
		
<div th:replace ="fragments :: footer" />
          
	</div>


</body>
</html>