<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::page_head('Categories- Shopme Admin', 'none')"  />

<body>
	<div class="container-fluid">
		<div th:replace="navigation:: menu"></div>


		<div>
			<h2>Manage Categaries </h2>
			<a th:href="@{/categories/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"
				title="Add a new categary"></a>

			<a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark  mr-2" title="Export to CSV">
			</a>


		</div>

		<div th:if="${message != null }" class="alert alert-success text-center">
			[[${message}]]
		</div>

		<div th:replace="fragments :: search_form" />

		<div >
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th class="hideable-column ">ID</th >
						<th>Image</th>
						<th>
                           <th th:replace="fragments::column_link('name', 'Category Name', 'tag')" />
						</th>
						<th class="hideable-column"> Alias </th >

						<th>Enabled</th>

						<th></th>
				</thead>
				<tbody>
					<tr th:each="cat: ${listCategories}">
						<td class="hideable-column ">[[${cat.Id}]]</td>
						<td>
							<img th:src="@{${cat.imagePath} }" style="width: 100px" class="image-fluid" />
						</td>
						<td>[[${cat.name}]]</td>
						<td class="hideable-column less-details "> [[${cat.alias}]]</td >


						<td>
							<a th:if="${cat.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
								th:href="@{'/categories/'+ ${cat.id}+'/enabled/false'}"
								title="Disable this category"></a>
							<a th:if="${cat.enabled == false}" class="fas fa-circle fa-2x icon-dark"
								th:href="@{'/categories/'+ ${cat.id}+'/enabled/true'}" title="Enable this category"></a>

						</td>

						<td>
							<a class="fas fa-edit fa-2x icon-green" th:href="@{'/categories/edit/' + ${cat.id}}"
								title="Edit this category"></a>
							&nbsp
							<a th:if="${cat.hasChildren== false}" class="fas fa-trash fa-2x icon-dark link-delete "
								th:href="@{'/categories/delete/' + ${cat.id}}" th:categoryId="${cat.id}"
								title="Delete this category"></a>
						</td>
					</tr>
				</tbody>

			</table>
		</div>
		<div th:if="${keyword != null }" class="text-center">
			<span> Search result does not show categories in hierarchical form</span>
			<div th:replace="fragments :: pagination('categories')" />
		</div>
		<th:block th:unless="${keyword != null }">
			<div th:replace="fragments :: pagination('top-level categories')" />
		</th:block >
		<div th:replace="fragments :: delete_confirmDialog('Delete Confirm')" />
		<div th:replace="fragments :: footer" />
	</div>

</body>
<script type="text/javascript">
  clearModulURL = "[[@{/categories}]]"; 

	$(document).ready(function () {

		$(".link-delete").on("click", function (e) {
			e.preventDefault();
			link = $(this);
			categoryId = link.attr("categoryId");
			$("#yesButton").attr("href", link.attr("href"));
			$("#confirmText").text(" Are you sure you want to delete the  ID:" + categoryId + " ?");
			$("#confirmModal").modal();
		});

	});

	function showModalDialog(title, message) {
		$("#modalTitle").text(title);
		$("#modalBody").text(message);
		$("#modalDialog").modal();
	}


</script>
<script type="text/javascript" th:src="@{/js/common_form.js}"> </script>

</html>